@font-face {
  font-family: 'Mountains of Christmas';
  src: url('./Fonts/MountainsofChristmas-Regular.ttf') format('truetype');
}

$header-footer-height: 70px;
$main-min-height: calc(100vh - ($header-footer-height * 2));
$controls-button-size: 40px;
$margin-control-items: 10px;
$background-color: #e3f2fd;
$primary-color: #0d6efd;
$secondary-color: #07bb01; 
$controls-color: #000;
$cards-color: #fff;
$transition: .3s;
$primary-filter: invert(50%) sepia(100%) saturate(5440%) hue-rotate(207deg) 
    brightness(97%) contrast(104%);
$secondary-filter: invert(46%) sepia(64%) saturate(2310%) hue-rotate(82deg) 
    brightness(100%) contrast(110%);
$font-type: Mountains of Christmas, cursive;
$backdrop-blur: blur(6px);

@mixin background($link, $fixed) {
  background-image: url($link);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @if $fixed { background-attachment: $fixed; }
}

@mixin background-controls__color($link) {
  background: url($link);
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin background-tree($link) {
  background: url($link);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin background-bg($link) {
  background: url($link);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}